.about-card {
  display: flex;
  flex-direction: column;
}

.about-card img {
  width: 17rem;
  height: 17rem;
  padding: 1rem;
}

.about-card h2 {
  margin: 0;
}

.about-card img {
  align-self: center;
}
