.home-grid {
  display: grid;
  margin: 1rem 5rem 3rem;
  grid-template-columns: 2rem repeat(3, 1fr) 2rem;
  grid-template-rows: 26rem 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
}

.home-grid > section {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  box-shadow: 12px 12px 0px var(--primary-accent-color);
  border: 1px solid var(--secondary-background-color);
}

.home-grid > section:nth-of-type(odd) {
  grid-column: 2 / 4;
}

.home-grid > section:nth-of-type(even) {
  grid-column: 3 / 5;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.home-title {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: var(--primary-accent-color);
}

.home-title > h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 0px var(--primary-accent-color);
  margin: 0 0 1rem;
}

.home-title > h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 1rem;
}

.home-grid section i {
  display: flex;
  align-items: center;
  font-size: 6.25rem;
}

.home-grid section h2,
.home-grid section p {
  margin: 0 0 1rem;
}

.home-contact button {
  align-self: flex-end;
}

.construction {
  background-color: #f1f19f;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.contact-button,
.articles-button,
.portfolio-button,
.about-button {
  display: flex;
  justify-content: end;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .home-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0.5rem 0.5rem 2rem;
  }

  .home-grid > section:nth-of-type(odd),
  .home-grid > section:nth-of-type(even),
  .home-title {
    grid-column: 1 / 4;
  }
}
