.home-grid {
  display: grid;
  background-color: #ebebeb;
  grid-template-columns: 2rem repeat(3, 1fr) 2rem;
  grid-template-rows: 26rem 14rem 1fr;
  row-gap: 3rem;
  width: 100%;
  padding-bottom: 3rem;
}

.home-grid > section {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  box-shadow: 12px 12px 0px var(--primary-accent-color);
  border: 1px solid var(--secondary-background-color);
  margin: 1rem;
  position: relative;
}

.home-portfolio {
  grid-column: 2 / 3;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.home-about {
  grid-column: 3 / 4;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.home-articles {
  grid-column: 4 / 5;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.home-grid > .test-contact {
  grid-column: 1 / 6;
  background-color: var(--primary-accent-color);
}

.home-title {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  text-shadow: var(--primary-accent-color);
}

.home-title > h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 0px var(--primary-accent-color);
  margin: 0 0 1rem;
}

.home-title > h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 1rem;
}

.home-grid section i {
  display: flex;
  align-items: center;
  font-size: 6.25rem;
}

.home-grid section h2,
.home-grid section p {
  margin: 0 0 1rem;
}

.home-contact button {
  align-self: flex-end;
}

.contact-button,
.articles-button,
.portfolio-button,
.about-button {
  position: absolute;
  bottom: -0.5rem;
  right: 1rem;
  text-decoration: none;
}

.fade-in-1 {
  animation-delay: 0s;
}

.fade-in-2 {
  animation-delay: 1s;
}

.fade-in-3 {
  animation-delay: 2s;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .home-grid {
    grid-template-rows: 26rem 1fr 1fr 1fr;
  }
  .home-title {
    grid-column: 1 / 6;
  }

  .home-about,
  .home-articles,
  .home-portfolio {
    grid-column: 2 / 5;
  }
}
