.grid-test {
  display: grid;
  margin: 1rem 7rem 3rem;
  grid-template-columns: 2rem repeat(3, 1fr) 2rem;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
}

.home-title {
  font-size: 2rem;
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: var(--primary-accent-color);
}

.home-title > h1 {
  text-shadow: 2px 2px var(--primary-accent-color);
  margin: 0 0 1rem;
}

.home-title > h2 {
  font-size: 2rem;
}

.home-welcome {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-banner {
  grid-column: 2 / 5;
}

.home-about {
  grid-column: 2 / 4;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 12px 12px 0px var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
}

.home-about > i {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.home-about h2 {
  margin: 0 0 1rem;
}

.home-about p {
  margin: 0 0 1rem;
}

.home-portfolio {
  grid-column: 3 / 5;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  box-shadow: 12px 12px 0px var(--primary-accent-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border: 1px solid var(--primary-accent-color);
}

.home-portfolio > i {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.home-portfolio h2 {
  margin: 0 0 1rem;
}

.home-portfolio p {
  margin: 0 0 1rem;
}

.home-articles {
  grid-column: 2 / 4;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 12px 12px 0px var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
}

.home-articles > i {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.home-articles h2 {
  margin: 0 0 1rem;
}

.home-articles p {
  margin: 0 0 1rem;
}

.home-contact {
  grid-column: 3 / 5;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  box-shadow: 12px 12px 0px var(--primary-accent-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border: 1px solid var(--primary-accent-color);
}

.home-contact > i {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.home-contact h2 {
  margin: 0 0 1rem;
}

.home-contact p {
  margin: 0 0 1rem;
}

.home-contact button {
  align-self: flex-end;
}

.construction {
  background-color: rgb(241, 241, 159);
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
}
