* {
  box-sizing: border-box;
}

:root {
  --main-text-color: #505050;
  --main-background-color: #f7f7f7;
}

a, a:visited {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

body {
  background: var(--main-background-color);
  margin: 0;
  font-family: "PT Serif", serif;
  color: var(--main-text-color);
}

main {
  display: flex;
  justify-content: center;
}

.body-content {
  max-width: 60rem;
  padding: 0 4rem;
}

.body-content p {
  font-size: 1.1rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.mobile-header {
  display: none;
}

.sidebar {
  min-width: 15rem;
  width: 15rem;
  padding: 1.5rem 2rem;
  border-right: 1px solid var(--main-text-color);
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile h2 {
  margin: .5rem;
}

.profile p {
  margin: .2rem;
  text-align: center;
}

.profile img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  object-fit: cover;
}

.widget {
  margin: 1rem 0rem;
  padding: 0 .4rem;
  text-align: center;
}

.widget h3 {
  margin: .2rem 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 37px;
  height: 21px;
  border: none;
  background: none;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--main-text-color);
  border-radius: 10px;
}

pre code {
  display: block;
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  padding: .5rem;
  border-radius: 5px;
}

@media (max-width: 600px) {

  .body-content {
    padding: 1rem;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    border-right: none;
    box-shadow: 0 3px 3px -3px var(--main-text-color);
    padding: 0;
    min-height: 3rem;
    transition: all 0.3s linear;
  }

  .widget-separator, .widgets, .profile {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .sidebar.active {
    margin-top: 3rem;
  }

  .profile.active {
    display: flex;
    padding: 0.5rem;
    width: 50%;
    text-align: center;
    height: 17.55rem;
    transition: all 0.3s linear;
  }

  .widgets.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s linear;
  }

  .toggle-button {
    display: flex;
  }

  .mobile-header {
    display: inline;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .mobile-header.active {
    display: none;
  }
}