* {
  box-sizing: border-box;
}

:root {
  --main-text-color: #505050;
  --main-background-color: #f7f7f7;
}

a, a:visited {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

body {
  background: var(--main-background-color);
  margin: 0;
  font-family: "PT Serif", serif;
  color: var(--main-text-color);
}

main {
  display: flex;
  justify-content: center;
}

.body-content {
  max-width: 60rem;
  padding: 0 4rem;
}

.body-content p {
  font-size: 1.1rem;
}

.quote {
  font-style: italic;
  margin: 0;
  border-left: 4px solid black;
  padding-left: .5rem;
}

.quote p {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-width: 15rem;
  width: 15rem;
  padding: 1.5rem 2rem;
  border-right: 1px solid var(--main-text-color);
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile h2 {
  margin: .5rem;
}

.profile p {
  margin: .2rem;
  text-align: center;
}

.profile img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  object-fit: cover;
  border: 1px solid var(--main-text-color);
  box-shadow: 0 0 3px 0 var(--main-text-color);
}

.widgets {
  width: 100%;
}

.widget {
  margin: 1rem 0rem;
  padding: 0 .4rem;
  text-align: center;
}

.widget h3 {
  margin: .2rem 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toggle-button {
  display: none;
}

pre code {
  display: block;
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  padding: .5rem;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cards>a {
  text-decoration: none;
  color: inherit;
}





@media (max-width: 600px) {

  .body-content {
    padding: 1rem;
  }

  .sidebar {
    position: static;
    padding: 0;
  }

  .sidebar.active {
    position: fixed;
    height: 100%;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 3px -3px var(--main-text-color);
    padding: 1rem;
    z-index: 100;
    overflow: auto;
  }

  .widgets, .profile {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .profile.active {
    display: flex;
    text-align: center;
  }

  .profile img {
    width: 100px;
    height: 100px;
  }

  .widgets.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }

  .widget-separator, .widget {
    width: inherit;
  }

  .widget {
    margin: 0 0;
  }

  .toggle-button {
    color: var(--main-text-color);
    position: absolute;
    z-index: 200;
    display: block;
    top: .5rem;
    left: .5rem;
    width: 37px;
    height: 37px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .toggle-button.active {
    position: fixed;
  }
}