* {
  box-sizing: border-box;
}

:root {
  --main-text-color: #505050;
  --main-background-color: #f7f7f7;
}

a, a:visited {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

body {
  background: var(--main-background-color);
  margin: 0;
  font-family: "PT Serif", serif;
  color: var(--main-text-color);
}

main {
  display: flex;
  justify-content: center;
}

.body-content {
  max-width: 60rem;
  padding: 0 4rem;
}

.body-content p {
  font-size: 1.1rem;
}

.quote {
  font-style: italic;
  margin: 0;
  border-left: 4px solid black;
  padding-left: .5rem;
}

.quote p {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-width: 15rem;
  width: 15rem;
  padding: 1.5rem 2rem;
  border-right: 1px solid var(--main-text-color);
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile h2 {
  margin: .5rem;
}

.profile p {
  margin: .2rem;
  text-align: center;
}

.profile img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  object-fit: cover;
}

.widgets {
  width: 100%;
}

.widget {
  margin: 1rem 0rem;
  padding: 0 .4rem;
  text-align: center;
}

.widget h3 {
  margin: .2rem 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toggle-button {
  display: none;
}

pre code {
  display: block;
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  padding: .5rem;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cards>a {
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: .5rem 0;
  padding: 1rem;
  box-shadow: 0px 0px 1px 0px black;
  width: 12rem;
  height: 12rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.card h2 {
  margin: 0;
}

.card .icon {
  height: 3rem;
  width: 3rem;
  margin: .75rem;
}

.card p {
  margin: 0;
}

.btn {
  border: 1px solid var(--main-text-color);
  font-size: inherit;
  font-family: inherit;
  padding: .5rem .75rem;
  cursor: pointer;
  margin-right: 1rem;
}

.btn.primary {
  background-color: var(--main-text-color);
  color: var(--main-background-color);
}

.btn.secondary {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.btn.disabled {
  background-color: rgb(226, 223, 223);
  cursor: not-allowed;
}

.input-control {
  width: 17rem;
  display: inline-block;
  margin: 1rem 0;
}

.input-control > label {
  display: inherit;
  margin: 0 0 .5rem;
}

.input-control > input {
  display: inherit;
  background-color: white;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
  outline: none;
}

.input-control > input:focus {
  box-shadow: 0 0 2px 0 var(--main-text-color);
}

.textarea-control {
  width: 17rem;
  display: inline-block;
  margin: 1rem 0;
}

.textarea-control > label {
  display: inherit;
  margin: 0 0 .5rem;
}

.textarea-control > textarea {
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: white;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  font-size: inherit;
  padding: .5rem;
  outline: none;
  width: 100%;
}

.textarea-control > textarea:focus {
  box-shadow: 0 0 2px 0 var(--main-text-color);
}

@media (max-width: 600px) {

  .body-content {
    padding: 1rem;
  }

  .sidebar {
    position: static;
    padding: 0;
  }

  .sidebar.active {
    position: fixed;
    height: 100%;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 3px -3px var(--main-text-color);
    padding: 1rem;
    z-index: 100;
    overflow: auto;
  }

  .widgets, .profile {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .profile.active {
    display: flex;
    text-align: center;
  }

  .profile img {
    width: 100px;
    height: 100px;
  }

  .widgets.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }

  .widget-separator, .widget {
    width: inherit;
  }

  .widget {
    margin: 0 0;
  }

  .toggle-button {
    color: var(--main-text-color);
    position: absolute;
    z-index: 200;
    display: block;
    top: .5rem;
    left: .5rem;
    width: 37px;
    height: 37px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .toggle-button.active {
    position: fixed;
  }
}