/* Contents

- Buttons
- Inputs
- Textareas
- Cards
- Code Block
- Quote

/* Buttons */
.btn {
  border: 1px solid var(--primary-text-color);
  font-size: inherit;
  font-family: inherit;
  padding: .5rem .75rem;
  cursor: pointer;
  outline: none;
}

.btn:focus, .btn:hover {
  box-shadow: 0 0 2px 0 var(--primary-text-color);
  filter: brightness(80%);
}

.btn.primary {
  background-color: var(--primary-text-color);
  color: var(--primary-background-color);
}

.btn.secondary {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.btn.disabled {
  background-color: rgb(226, 223, 223);
  cursor: not-allowed;
}

.icon-btn {
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 8rem; 
  text-decoration: none;
}

/* Inputs */

.input-control {
  width: 17rem;
  margin: 1rem 0;
}

.input-control > label {
  display: inherit;
  margin: 0 0 .5rem;
}

.input-control > input {
  display: inherit;
  background-color: white;
  border: 1px solid var(--primary-text-color);
  border-radius: 5px;
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
  outline: none;
}

.input-control > input:focus {
  box-shadow: 0 0 2px 0 var(--primary-text-color);
}

/* Textareas */

.textarea-control {
  width: 17rem;
  margin: 1rem 0;
}

.textarea-control > label {
  display: inherit;
  margin: 0 0 .5rem;
}

.textarea-control > textarea {
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: white;
  border: 1px solid var(--primary-text-color);
  border-radius: 5px;
  font-size: inherit;
  padding: .5rem;
  outline: none;
  width: 100%;
}

.textarea-control > textarea:focus {
  box-shadow: 0 0 2px 0 var(--primary-text-color);
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: .5rem 0;
  padding: 1rem;
  box-shadow: 0px 0px 1px 0px black;
  width: 12rem;
  height: 12rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.card h2 {
  margin: 0;
}

.card .icon {
  height: 3rem;
  width: 3rem;
  margin: .75rem;
}

.card p {
  margin: 0;
}

/* Code Block */

pre code {
  display: block;
  background-color: var(--primary-text-color);
  color: var(--primary-background-color);
  padding: .5rem;
  border-radius: 5px;
  overflow: scroll;
}

/* Quote */
.quote {
  font-style: italic;
  margin: 0;
  border-left: 4px solid black;
  padding-left: .5rem;
}

.quote p {
  font-size: 1.5rem;
}