* {
  box-sizing: border-box;
}

a, a:visited {
  color: #505050;
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

body {
  background: #f7f7f7;
  margin: 0;
  font-family: "PT Serif", serif;
  color: #505050;
}

main {
  display: flex;
  justify-content: center;
}

.body-content {
  max-width: 45rem;
  padding: 0 4rem;
}

.body-content p {
  font-size: 1.1rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 18rem;
  height: 100vh;
  padding: 1.5rem 2rem;
  border-right: 1px solid #505050;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile h2 {
  margin: .5rem;
}

.profile p {
  margin: .2rem;
  text-align: center;
}

.profile img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  object-fit: cover;
}

.widget {
  margin: 1rem 0rem;
  padding: 0 .4rem;
  text-align: center;
}

.widget h3 {
  margin: .2rem 0;
}

.widget ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #505050;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    border-right: none;
    box-shadow: 0 3px 3px -3px #505050;
    padding: 0;
    min-height: 3rem;
    transition: all 0.3s linear;
  }

  .widget-separator, .widgets, .profile {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .sidebar.active {
    margin-top: 3rem;
  }

  .profile.active {
    display: flex;
    padding: 0.5rem;
    width: 50%;
    text-align: center;
    height: 17.55rem;
    transition: all 0.3s linear;
  }

  .widgets.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.5s;
  }

  .toggle-button {
    display: flex;
  }
}