:root {
  /* Colors */
  --purple: #725cc5;
  --gray: #e9e9e9;
  --dark-gray: #575757;
  --off-white: #f0f0f0;
  --off-black: #2f2f2f;

  --primary-background-color: var(--off-white);
  --secondary-background-color: var(--off-black);
  --accent-background-color: var(--purple);

  --primary-text-color: var(--off-black);
  --secondary-text-color: var(--gray);
  --accent-text-color: var(--off-white);
}

html {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-background-color);
}

header {
  display: grid;
  place-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--primary-text-color);
}

footer {
  display: grid;
  place-items: center;
  background-color: var(--off-black);
  padding: 2rem;
  color: var(--off-white);
  margin-top: 2rem;
  text-align: center;
}

.article-grid {
  display: grid;
  width: 95%;
  gap: 1.5rem;
  margin: 0 auto;
}

.article-tile {
  padding: 2rem;
  border: 1px solid lightgray;
  box-shadow: 0 0 1rem 0 lightgray;
}

.article-tile h2 {
  margin: 0;
  font-size: 1.2rem;
}

.article-tile p {
  margin: 1rem 0 0;
}

@media screen and (min-width: 60rem) {
  .article-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-column-span-2 {
    grid-column: span 2;
  }

  .grid-row-span-2 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.accent {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
}

.primary {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.secondary {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}
