* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

.heading {
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.purple-200 {
  background-color: rgb(228, 195, 255);
}

nav {
  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.nav-item:hover {
  background-color: rgb(228, 175, 255);
}

main {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.article {
  max-width: 50rem;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}
