.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--color-dark-blue);
}

.header-title {
  color: var(--color-white);
  margin-left: var(--spacing-2);
  border-bottom: none;
}

.header-links {
  display: flex;
  color: var(--color-white);
  height: 100%;
  align-items: center;
  gap: var(--spacing-3);
  margin: var(--spacing-0) var(--spacing-3);
}

.header-links li {
  height: 100%;
  display: grid;
  place-items: center;
}

.header-links li a {
  width: 100%;
  padding: var(--spacing-2);
  border-bottom: none;
  transition: 0.3s;
  border-radius: var(--border-radius-2);
}

.header-links li a:hover,
.header-links li a:focus {
  background-color: #345a98;
}

#open-navigation {
  margin: var(--spacing-2);
  color: var(--color-white);
  font-size: 1.5rem;
  border-bottom: none;
  display: none;
}

@media screen and (max-width: 40rem) {
  .header-links {
    display: none;
  }

  #open-navigation {
    display: block;
  }
}
