.about-main {
  flex-direction: column;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65rem;
  margin: var(--spacing-5) auto;
  gap: var(--spacing-3);
  padding: var(--spacing-3);
}

.about-wrapper img {
  width: clamp(8rem, 100%, 25rem);
  height: clamp(8rem, 100%, 25rem);
  border-bottom: 3px solid var(--color-dark-blue);
}

.about-content {
  width: clamp(8rem, 100%, 35rem);
  background-color: var(--color-white);
}

.about-content > section {
  display: flex;
  flex-direction: column;
}

.about-content a {
  align-self: end;
}

.about-contact-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 5rem;
}
