.about-main {
  flex-direction: column;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--spacing-9);
}

.about-wrapper img {
  width: clamp(8rem, 100vw, 15rem);
  border-radius: 50%;
  border: 1px solid var(--color-gray);
  filter: grayscale(100%);
  align-self: center;
  margin: var(--spacing-4);
  box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.024),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.046);
}

.about-content {
  width: clamp(8rem, 100vw, 32rem);
  padding: var(--spacing-3) var(--spacing-5);
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
}

.about-content > section {
  display: flex;
  flex-direction: column;
}

.about-content a {
  align-self: end;
}

.about-contact-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--spacing-9) var(--spacing-3);
}
