.article-main {
  justify-content: center;
}

.article-post {
  padding: var(--spacing-3);
  background-color: var(--color-gray);
  border-radius: var(--border-radius-2);
  transition: 0.4s;
  margin: var(--spacing-3) auto;
}

.article-post > span {
  font-style: italic;
  margin-bottom: var(--spacing-3);
  display: block;
}

.article-post:hover,
.article-link:focus > section {
  background-color: var(--color-baby-blue);
}
