.portfolio-main {
  justify-content: center;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-3);
}

.portfolio-project {
  min-width: 15rem;
  max-width: 17rem;
  border: 1px solid var(--color-gray);
  box-shadow: 0 0 7px 0px var(--color-gray);
  border-radius: var(--border-radius-2);
  flex: 1;
}

.portfolio-project img {
  height: 25rem;
  width: 100%;
  max-inline-size: 100%;
  aspect-ratio: 2/1;
  block-size: auto;
  object-fit: contain;
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-gray);
}

.portfolio-project > h2 {
  padding: var(--spacing-0) var(--spacing-3);
}

.portfolio-project p {
  padding: 0 var(--spacing-3);
}

.portfolio-button {
  display: inline-block;
  margin: var(--spacing-0) var(--spacing-3) var(--spacing-3);
}

@media screen and (max-width: 40rem) {
  .portfolio-projects {
    justify-content: center;
  }
}
