footer {
  display: grid;
  place-items: center;
  background: var(--color-midnight-blue);
  color: var(--color-white);
  padding: var(--spacing-7) var(--spacing-3);
  text-align: center;
}

footer a {
  color: var(--color-white);
}

footer span {
  margin-bottom: var(--spacing-2);
}

.social-links > a {
  display: inline-block;
  font-size: var(--spacing-7);
  border-bottom: none;
}
