.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.about-wrapper img {
  width: clamp(8rem, 100%, 35rem);
  min-height: 8rem;
  height: 100%;
  margin-top: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: clamp(8rem, 100%, 35rem);
  height: 30rem;
  margin: 2rem 0;
  background-color: #dbedf0;
  box-shadow: 1rem 1rem 0 0 #5885af, 2rem 2rem 0 0 #41729f;
  padding: 1rem;
}

.about-content > section {
  display: flex;
  flex-direction: column;
}

.about-content a {
  align-self: end;
}

@media screen and (max-width: 71.95rem) {
  .about-wrapper img {
    height: auto;
    max-height: 35rem;
  }

  .about-content {
    height: auto;
  }
}
