.home-grid {
  display: grid;
  grid-template-columns: 2rem repeat(3, 1fr) 2rem;
  grid-template-rows: 20rem 1fr;
  row-gap: 3rem;
  width: 100%;
}

.home-title {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.home-title > h1 {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
  background-size: 200% 200%;
  animation: rainbow 1s linear infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  width: 80vw;
  display: block;
  font-size: 3.5rem;
  margin: 0 0 1rem;
  transition: color 0.2s linear;
}

.home-title > h1:hover {
  color: rgba(0, 0, 0, 0);
}

.home-title > h2 {
  font-size: 1.7rem;
}

.home-title span {
  display: inline-block;
}

.home-panels {
  grid-column: 1 / 6;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  background-color: #dbedf0;
}

.home-panels > section {
  display: flex;
  padding: 1rem;
  /* box-shadow: 0 0 7px 0 var(--primary-accent-color); */
  margin: 1rem 0.5rem;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  border-radius: 0.4rem;
  flex: 1;
  box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.024),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.046);
}

.home-panels i {
  display: flex;
  align-items: center;
  font-size: 6.25rem;
}

.home-panels div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-panels a {
  display: inline-block;
  align-self: flex-end;
  width: 8.5rem;
  margin-top: auto;
  text-align: center;
}

.home-contact {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 3rem;
}

.home-contact > p {
  max-width: 30rem;
  text-align: center;
}

.fade-in-1 {
  animation-delay: 0s;
}

.fade-in-2 {
  animation-delay: 1s;
}

.fade-in-3 {
  animation-delay: 2s;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
