.home-grid {
  display: grid;
  grid-template-columns: 2rem repeat(3, 1fr) 2rem;
  grid-template-rows: 20rem 14rem 1fr;
  row-gap: 3rem;
  width: 100%;
  padding-bottom: 3rem;
}

.home-grid > section {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  box-shadow: 0 0 7px 0 var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  margin: 1rem;
  position: relative;
}

.home-portfolio {
  grid-column: 2 / 3;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.home-about {
  grid-column: 3 / 4;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.home-articles {
  grid-column: 4 / 5;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.home-grid > .test-contact {
  grid-column: 1 / 6;
  background-color: var(--primary-accent-color);
}

.home-title {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  text-shadow: var(--primary-accent-color);
  padding: 1rem;
}

.home-title > h1 {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
  background-size: 200% 200%;
  animation: rainbow 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  width: 80vw;
  display: block;
  text-align: center;
  font-size: 3.5rem;
  margin: 0 0 1rem;
  transition: color 0.2s linear;
}

.home-title > h1:hover {
  color: rgba(0, 0, 0, 0);
}

.home-title > h2 {
  font-size: 1.7rem;
  text-align: center;
  margin: 0 0 1rem;
}

.home-title span {
  display: inline-block;
  margin: 0 0 0.5rem;
}

.home-grid section i {
  display: flex;
  align-items: center;
  font-size: 6.25rem;
}

.home-grid section h2,
.home-grid section p {
  margin: 0 0 1rem;
}

.home-contact button {
  align-self: flex-end;
}

.contact-button,
.articles-button,
.portfolio-button,
.about-button {
  position: absolute;
  bottom: -0.5rem;
  right: 1rem;
  text-decoration: none;
}

.fade-in-1 {
  animation-delay: 0s;
}

.fade-in-2 {
  animation-delay: 1s;
}

.fade-in-3 {
  animation-delay: 2s;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@media screen and (max-width: 900px) {
  .home-grid {
    grid-template-rows: 20rem 1fr 1fr 1fr;
  }

  .home-about,
  .home-articles,
  .home-portfolio,
  .home-title {
    grid-column: 1 / 6;
  }
}
