/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  outline-color: var(--color-black);
}

html {
  scroll-behavior: smooth;
  min-width: 17rem;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-white);
  color: var(--color-black);
}

main {
  display: flex;
  flex-grow: 1;
}

.body-content {
  width: 100%;
  max-width: 54rem;
  min-width: 10rem;
  padding: 1rem 1rem 1rem;
  margin: 1rem 0;
}
