/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

/* Lee's Design System */

h1 {
  margin: 0 0 1rem;
}

h2 {
  margin: 0 0 0.85rem;
  font-size: 1.4rem;
}

h3 {
  margin: 0 0 0.6rem;
}

p {
  margin: 0 0 2rem;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: lightblue dashed;
}

ul {
  list-style-type: none;
}

/* -------- */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
  outline-color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
  min-width: 17rem;
  min-height: 100vh;
}

:root {
  --primary-text-color: #000;
  --primary-background-color: #ffffff;
  --primary-accent-color: #d3d3d3;
  --secondary-background-color: #274472;
  --secondary-text-color: #fff;

  /* #f6e2b9 butter yellow */
  /* #e86c09 orange */
  /* 
  Midnight Blue
  #41729F

  Blue Gray
  #5885AF

  Dark Blue
  #274472

  Baby Blue
  #C3E0E5
  */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.body-content {
  width: 100%;
  max-width: 54rem;
  min-width: 10rem;
  padding: 1rem 1rem 1rem;
  margin: 1rem 0;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

#open-navigation {
  margin: 0.5rem;
  color: var(--primary-text-color);
  font-size: 1.5rem;
  border-bottom: none;
}

.social-links {
  margin: 0 0.5rem;
}

.social-links > a {
  display: inline-block;
  font-size: 2rem;
  color: var(--primary-text-color);
  border-bottom: none;
}

/* Navigation */

.navigation {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  height: 100%;
  width: 100%;
  display: none;
}

.navigation:target {
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 100;
}

#close-navigation {
  font-size: 1.7rem;
  align-self: flex-end;
  margin: 0 0 1rem;
  border-bottom: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  text-align: center;
}

.nav-list li {
  font-size: 1.7rem;
  margin: 0 0 1.4rem;
}

/* Footer */

footer {
  display: grid;
  place-items: center;
  background: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding: 1rem;
  text-align: center;
}

footer a {
  color: var(--secondary-text-color);
}

footer span {
  margin-bottom: 0.5rem;
}
