* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Roboto;
}

.logo-box {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 90px;
  width: 90px;
}

.company-name {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.nav-box {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-item {
  padding: 2.5rem;
  font-size: 1.3rem;
}

.nav-item:hover {
  background-color: grey;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.greeting-tile {
  height: calc(100vh - 5rem);
  background: url("./red-sombrero-background-compressed.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 6px rgb(206, 1, 1);
  text-align: center;
  font-style: italic;
}

.subtitle {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 6px rgb(0, 138, 46);
  text-align: center;
}

.dining-room {
  height: 100vh;
}

.other {
  height: 100vh;
}
