<header class="header">
  <a class="header-title"
     href="/index.html">Cooperweb.dev</a>
  <a id="open-navigation"
     aria-label="Open Menu"
     href="#navigation">
    <i class="las la-bars"></i>
  </a>
  <!-- <div class="social-links">
        <a href="https://github.com/lee-cooper"
          target="_blank"
          rel="noopener"
          aria-label="Github - link opens in a new tab">
          <i class="lab la-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/lee-cooper-2731a9129"
          target="_blank"
          rel="noopener"
          aria-label="LinkedIn - link opens in a new tab">
          <i class="lab la-linkedin"></i>
        </a>
      </div> -->
</header>
